.scroll-section {
    height: 100vh;
    scroll-snap-align: start;
    display: none; /* Standardmäßig ausblenden */
    justify-content: center;
    align-items: center;
}

@media screen and (orientation: portrait) {
    .hochkant {
        display: flex; /* Flexbox aktivieren */
    }
}

@media screen and (orientation: landscape) {
    .quer {
        display: flex; /* Flexbox aktivieren */
    }
}
