html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.scroll-container {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.scroll-section {
    height: 100vh;
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
    display: flex; /* Standardmäßig anzeigen */
    flex-direction: column;
}

img {
    max-width: 100%;
    max-height: 100vh;
    object-fit: contain;
}

@media screen and (orientation: portrait) {
    .quer {
        display: none; / Querformatbilder ausblenden /
    }
}

@media screen and (orientation: landscape) {
    .hochkant {
        display: none; / Hochformatbilder ausblenden */
    }
}
