html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroll-section {
    height: 100vh;
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    height: auto; /* Passt die Höhe proportional an */
    object-fit: contain;
}

@media screen and (orientation: portrait) {
    .quer {
        display: none; /* Querformatbilder ausblenden */
    }
}

@media screen and (orientation: landscape) {
    .hochkant {
        display: none; /* Hochformatbilder ausblenden */
    }
}
